html, body {
  height: 100%;
  width: 100%;
  font-family: verdana;
  line-height: 1.8
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: left;
}

p {
  font-size: 20px;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
}

input[type=text] {
  background-color: white;
  border-color: black;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}

input[type=email] {
  background-color: white;
  border-color: black;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}
